(
    pilots: [
        (
            id: (1),
            gamertag: "HAVOC",
            personality: [
                Flashy,
                Methodical,
            ],
            skill: (
                level: 0.92481154,
                speed: 0.7585929,
                cornering: 0.73269176,
                consistency: 0.8003488,
            ),
            color_scheme: (
                primary: (0.851, 0.298, 0.557),
            ),
            drone_build: (),
            portrait: (
                face_shape: Long,
                eyes: Normal,
                mouth: Smirk,
                hair: LongSwept,
                shirt: Vneck,
                accessory: None,
                skin_tone: (0.62, 0.298, 0.298),
                hair_color: (0.278, 0.18, 0.243),
                eye_color: (0.702, 0.69, 0.176),
                accessory_color: (0.286, 0.318, 0.412),
                shirt_color: (0.208, 0.325, 0.651),
                skin_secondary: Chosen((0.98, 0.596, 0.569)),
                acc_secondary: DroneColor,
                eye_secondary: DroneColor,
                generated: true,
            ),
            stats: (
                races_entered: 0,
                finishes: 0,
                crashes: 0,
                wins: 0,
                best_time: None,
            ),
        ),
        (
            id: (2),
            gamertag: "J0lt",
            personality: [
                Methodical,
                Aggressive,
            ],
            skill: (
                level: 0.21108548,
                speed: 0.2655592,
                cornering: 0.2290474,
                consistency: 0.9847404,
            ),
            color_scheme: (
                primary: (0.859, 0.294, 0.086),
            ),
            drone_build: (),
            portrait: (
                face_shape: Diamond,
                eyes: Narrow,
                mouth: Neutral,
                hair: ShortCrop,
                shirt: Vneck,
                accessory: Some(EarringRing),
                skin_tone: (0.62, 0.467, 0.404),
                hair_color: (0.478, 0.369, 0.216),
                eye_color: (0.286, 0.761, 0.949),
                accessory_color: (1.0, 0.725, 0.22),
                shirt_color: (0.58, 0.749, 0.188),
                skin_secondary: Chosen((0.529, 0.365, 0.345)),
                acc_secondary: DroneColor,
                eye_secondary: DroneColor,
                generated: true,
            ),
            stats: (
                races_entered: 0,
                finishes: 0,
                crashes: 0,
                wins: 0,
                best_time: None,
            ),
        ),
        (
            id: (3),
            gamertag: "runeGlimmer",
            personality: [
                Hotdog,
                Methodical,
            ],
            skill: (
                level: 0.84932035,
                speed: 0.26671565,
                cornering: 0.8711613,
                consistency: 0.3947614,
            ),
            color_scheme: (
                primary: (0.333, 0.702, 0.231),
            ),
            drone_build: (),
            portrait: (
                face_shape: Angular,
                eyes: Narrow,
                mouth: Smile,
                hair: Mohawk,
                shirt: Crew,
                accessory: Some(NecklacePendant),
                skin_tone: (0.431, 0.259, 0.314),
                hair_color: (0.949, 0.384, 0.122),
                eye_color: (0.702, 0.69, 0.176),
                accessory_color: (1.0, 0.725, 0.22),
                shirt_color: (0.208, 0.325, 0.651),
                skin_secondary: Chosen((0.278, 0.18, 0.243)),
                acc_secondary: DroneColor,
                eye_secondary: DroneColor,
                generated: true,
            ),
            stats: (
                races_entered: 0,
                finishes: 0,
                crashes: 0,
                wins: 0,
                best_time: None,
            ),
        ),
        (
            id: (4),
            gamertag: "Falcon",
            personality: [
                Hotdog,
            ],
            skill: (
                level: 0.9137551,
                speed: 0.26771662,
                cornering: 0.62330985,
                consistency: 0.89004815,
            ),
            color_scheme: (
                primary: (0.098, 0.357, 0.651),
            ),
            drone_build: (),
            portrait: (
                face_shape: Round,
                eyes: Normal,
                mouth: Neutral,
                hair: Mohawk,
                shirt: Round,
                accessory: Some(NecklaceChain),
                skin_tone: (0.62, 0.467, 0.404),
                hair_color: (0.067, 0.376, 0.38),
                eye_color: (0.278, 0.18, 0.243),
                accessory_color: (0.02, 0.055, 0.102),
                shirt_color: (0.8, 0.502, 0.161),
                skin_secondary: Chosen((0.529, 0.365, 0.345)),
                acc_secondary: DroneColor,
                eye_secondary: DroneColor,
                generated: true,
            ),
            stats: (
                races_entered: 0,
                finishes: 0,
                crashes: 0,
                wins: 0,
                best_time: None,
            ),
        ),
        (
            id: (5),
            gamertag: "karmaTopaz",
            personality: [
                Methodical,
            ],
            skill: (
                level: 0.25052157,
                speed: 0.33211958,
                cornering: 0.544902,
                consistency: 0.83946645,
            ),
            color_scheme: (
                primary: (0.286, 0.318, 0.412),
            ),
            drone_build: (),
            portrait: (
                face_shape: Diamond,
                eyes: Winking,
                mouth: Gritted,
                hair: Bald,
                shirt: Turtleneck,
                accessory: Some(EarringRing),
                skin_tone: (0.62, 0.467, 0.404),
                hair_color: (0.522, 0.133, 0.392),
                eye_color: (0.239, 0.631, 0.494),
                accessory_color: (0.412, 0.396, 0.439),
                shirt_color: (0.286, 0.761, 0.949),
                skin_secondary: Chosen((0.529, 0.365, 0.345)),
                acc_secondary: DroneColor,
                eye_secondary: DroneColor,
                generated: true,
            ),
            stats: (
                races_entered: 0,
                finishes: 0,
                crashes: 0,
                wins: 0,
                best_time: None,
            ),
        ),
    ],
    next_id: 6,
)