(
    course: (
        name: "Abandoned Warehouse",
        instances: [
            (
                obstacle_id: ("gate_air"),
                translation: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(1),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.98, 0.627, 0.196, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (54.87083, -2.8584917, -74.416084),
                rotation: (0.0, 0.9396927, 0.0, 0.34202015),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(2),
                gate_forward_flipped: true,
                camera: None,
                color_override: Some((0.98, 0.627, 0.196, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (93.09197, -3.3358586, -61.098396),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(3),
                gate_forward_flipped: true,
                camera: None,
                color_override: Some((0.961, 0.192, 0.255, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (85.50886, 0.0, -36.717007),
                rotation: (0.0, -0.6755901, 0.0, 0.7372774),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(4),
                gate_forward_flipped: true,
                camera: None,
                color_override: Some((0.961, 0.506, 0.133, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (74.34868, 0.0, -13.563898),
                rotation: (0.0, -0.9914448, 0.0, 0.13052624),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(5),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.859, 0.294, 0.086, 1.0)),
            ),
        ],
        props: [],
        cameras: [],
        location: "Abandoned Warehouse",
    ),
    inventory: (
        entries: [
            (
                obstacle_id: ("gate_loop"),
                count: 1,
            ),
        ],
    ),
)