(
    course: (
        name: "Abandoned Warehouse",
        instances: [
            (
                obstacle_id: ("gate_ground"),
                translation: (16.238485, 0.0, -42.097633),
                rotation: (0.0, -0.67559016, 0.0, 0.7372773),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(0),
                gate_forward_flipped: false,
                camera: Some((
                    offset: (-4.108778, 7.4868817, 24.844906),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    is_primary: true,
                    label: None,
                )),
                color_override: Some((0.961, 0.506, 0.133, 1.0)),
            ),
            (
                obstacle_id: ("gate_loop"),
                translation: (29.566444, 0.0, 10.332521),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(1),
                gate_forward_flipped: true,
                camera: None,
                color_override: Some((0.702, 0.176, 0.49, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (5.710472, 0.0, 34.512997),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(2),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.58, 0.749, 0.188, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (-24.811361, 0.0, 4.194744),
                rotation: (0.0, 0.7660444, 0.0, 0.64278764),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(4),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.639, 0.365, 0.851, 1.0)),
            ),
            (
                obstacle_id: ("gate_loop"),
                translation: (-43.201073, 0.0, -34.081467),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(5),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.922, 0.459, 0.561, 1.0)),
            ),
            (
                obstacle_id: ("gate_air"),
                translation: (-1.2851772, 16.374054, 12.898174),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(3),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.09, 0.576, 0.902, 1.0)),
            ),
            (
                obstacle_id: ("gate_air"),
                translation: (-21.609552, 19.48266, -67.78439),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(6),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.961, 0.192, 0.255, 1.0)),
            ),
        ],
        props: [],
        cameras: [],
        location: "Abandoned Warehouse",
    ),
    inventory: (
        entries: [],
    ),
)