(
    course: (
        name: "Abandoned Warehouse",
        instances: [
            (
                obstacle_id: ("gate_ground"),
                translation: (20.022114, 0.0, -17.596222),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(0),
                gate_forward_flipped: false,
                camera: Some((
                    offset: (-4.108778, 7.4868817, 24.844906),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    is_primary: true,
                    label: None,
                )),
                color_override: Some((0.949, 0.949, 0.855, 1.0)),
            ),
            (
                obstacle_id: ("gate_air"),
                translation: (-24.028006, 0.0, -56.242977),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(1),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.949, 0.949, 0.855, 1.0)),
            ),
            (
                obstacle_id: ("gate_loop"),
                translation: (-28.169954, 0.0, -12.726646),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(2),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.949, 0.949, 0.855, 1.0)),
            ),
            (
                obstacle_id: ("gate_ground"),
                translation: (3.9789467, 0.0, 9.201557),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
                gate_order: Some(3),
                gate_forward_flipped: false,
                camera: None,
                color_override: Some((0.949, 0.949, 0.855, 1.0)),
            ),
        ],
        props: [],
        cameras: [],
        location: "Abandoned Warehouse",
    ),
    inventory: (
        entries: [],
    ),
)