(
    vetoed: {
        Drone: [
            62,
            33,
            19,
            37,
            43,
            48,
            54,
            20,
            25,
            8,
            61,
            4,
            59,
            26,
            6,
            28,
            42,
            21,
            30,
            46,
            45,
            56,
            17,
            31,
            12,
            10,
            60,
            7,
            23,
            40,
            44,
            13,
            51,
            35,
            1,
            24,
            63,
            49,
            36,
            14,
            5,
            53,
            57,
            18,
        ],
        Eye: [
            50,
            37,
            51,
            63,
            10,
            59,
            28,
            42,
            16,
            36,
            17,
            54,
            8,
            1,
            35,
            39,
            9,
            27,
            0,
            45,
            62,
            40,
            32,
            6,
            29,
            34,
            2,
            30,
            38,
            43,
            31,
            61,
            7,
            44,
            33,
            41,
        ],
        Hair: [
            62,
            15,
            35,
            45,
            3,
            55,
            4,
            54,
            46,
            19,
            20,
            9,
            7,
            13,
            22,
            61,
            31,
            6,
            8,
            14,
            56,
            63,
            5,
            23,
            24,
        ],
        Accessory: [
            48,
            47,
            19,
            45,
            25,
            12,
            15,
            59,
            24,
            54,
            28,
            58,
            46,
            35,
            17,
            57,
            62,
            33,
            29,
            32,
            38,
            22,
            60,
            49,
            63,
            50,
            51,
            31,
            2,
            55,
            20,
            13,
            56,
            53,
            30,
            16,
            10,
            27,
            26,
            21,
            8,
            14,
            52,
            11,
            18,
            36,
            37,
            34,
            61,
            23,
        ],
        Skin: [
            14,
            42,
            43,
            21,
            3,
            0,
            34,
            12,
            60,
            19,
            11,
            38,
            30,
            9,
            48,
            4,
            55,
            24,
            46,
            33,
            20,
            37,
            22,
            1,
            44,
            58,
            53,
            56,
            17,
            29,
            5,
            28,
            16,
            18,
            10,
            50,
            57,
            45,
            41,
            39,
            23,
            7,
            40,
            47,
            51,
            15,
            6,
            27,
            49,
            13,
            52,
            2,
            54,
            32,
        ],
        Shirt: [
            59,
            4,
            62,
            7,
            60,
            5,
            8,
            26,
            10,
            63,
            6,
            48,
            9,
            31,
            61,
            30,
            35,
            25,
        ],
    },
    complementary: {
        Accessory: {
            40: 18446744073709551615,
            6: 18446744073709551615,
            3: 18446744073709551615,
            5: 18446744073709551615,
            41: 18446744073709551615,
            29: 29,
            0: 18446744073709551615,
            43: 18446744073709551615,
            44: 18446744073709551615,
            9: 18446744073709551615,
            42: 18446744073709551615,
            1: 18446744073709551615,
            4: 18446744073709551615,
            7: 18446744073709551615,
            39: 18446744073709551615,
        },
        Skin: {
            9: 9,
            47: 45,
            14: 15,
            32: 33,
            30: 31,
            5: 6,
            16: 17,
            13: 14,
            22: 23,
            29: 30,
            2: 2,
            44: 40,
            57: 56,
            1: 47,
            55: 54,
            35: 36,
            33: 33,
            59: 44,
            11: 12,
            23: 23,
            46: 41,
            4: 2,
            53: 58,
            3: 4,
            24: 23,
            6: 7,
            12: 14,
            58: 57,
            43: 41,
            63: 62,
            26: 25,
            56: 55,
            34: 35,
            37: 39,
            21: 22,
            41: 41,
            7: 9,
            15: 15,
            45: 41,
            49: 45,
            25: 26,
            39: 40,
            28: 29,
            19: 20,
            52: 51,
            27: 28,
            61: 62,
            60: 59,
            42: 41,
            38: 37,
            50: 50,
            31: 61,
            20: 24,
            18: 19,
            0: 28,
            51: 51,
            54: 9,
            17: 21,
            8: 61,
            36: 35,
            10: 18,
            62: 63,
            40: 41,
            48: 46,
        },
    },
    variant_overrides: {
        Eye: {
            3: (
                vetoed: [
                    3,
                    5,
                    36,
                    8,
                    35,
                    9,
                    62,
                    6,
                    25,
                    60,
                    63,
                    61,
                    31,
                    59,
                    26,
                ],
                complementary: {
                    22: 18446744073709551615,
                    0: 18446744073709551615,
                    48: 18446744073709551615,
                    17: 18446744073709551615,
                    54: 18446744073709551615,
                    38: 18446744073709551615,
                    46: 18446744073709551615,
                    41: 18446744073709551615,
                    7: 18446744073709551615,
                    27: 18446744073709551615,
                    24: 18446744073709551615,
                    51: 18446744073709551615,
                    29: 18446744073709551615,
                    4: 18446744073709551615,
                    32: 18446744073709551615,
                    42: 18446744073709551615,
                    10: 18446744073709551615,
                    18: 18446744073709551615,
                    1: 18446744073709551615,
                    50: 18446744073709551615,
                    52: 18446744073709551615,
                    16: 18446744073709551615,
                    37: 18446744073709551615,
                    28: 18446744073709551615,
                    11: 18446744073709551615,
                    39: 18446744073709551615,
                    43: 18446744073709551615,
                    20: 18446744073709551615,
                    44: 18446744073709551615,
                    13: 18446744073709551615,
                    12: 18446744073709551615,
                    55: 18446744073709551615,
                    34: 18446744073709551615,
                    40: 18446744073709551615,
                    23: 18446744073709551615,
                    14: 18446744073709551615,
                    49: 18446744073709551615,
                    53: 18446744073709551615,
                    58: 18446744073709551615,
                    15: 18446744073709551615,
                    2: 18446744073709551615,
                    21: 18446744073709551615,
                    56: 18446744073709551615,
                    57: 18446744073709551615,
                    47: 18446744073709551615,
                    30: 18446744073709551615,
                    45: 18446744073709551615,
                    33: 18446744073709551615,
                    19: 18446744073709551615,
                },
            ),
        },
        Accessory: {
            2: (
                vetoed: [
                    12,
                    17,
                    57,
                    14,
                    2,
                    29,
                    53,
                    48,
                    19,
                    54,
                    28,
                    26,
                    24,
                    45,
                    33,
                    10,
                    59,
                    15,
                    32,
                    50,
                    46,
                    47,
                    37,
                    20,
                    36,
                    21,
                    60,
                    25,
                    13,
                    11,
                    55,
                    23,
                    62,
                    18,
                    31,
                    63,
                    61,
                    38,
                    52,
                    35,
                    34,
                    49,
                    9,
                    27,
                    58,
                    56,
                    30,
                    16,
                    51,
                    22,
                ],
                complementary: {
                    29: 29,
                },
            ),
        },
    },
)