(
    name: "course_005",
    instances: [
        (
            obstacle_id: ("gate_air"),
            translation: (-31.27499, 0.0, -37.74672),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-6.9321327, 15.91959, 22.939955),
                rotation: (0.0, -0.3007058, 0.0, 0.95371693),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.961, 0.506, 0.133, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (25.704582, 0.0, -98.32473),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.145, 0.675, 0.961, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (76.79378, 0.0, -56.45963),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.702, 0.176, 0.49, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (56.834747, 0.0, 8.041641),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.467, 0.231, 0.749, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 23.543829, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.58, 0.749, 0.188, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-37.768917, 0.0, 14.28298),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.961, 0.192, 0.255, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
    location: "Abandoned Warehouse",
)