(
    name: "course_001",
    instances: [
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (0.14376068, 15.91959, 16.14569),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.627, 0.922, 0.659, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (45.26143, 0.0, 11.565779),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.239, 0.631, 0.494, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (19.84232, 0.0, -17.766073),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.792, 0.494, 0.949, 1.0)),
        ),
    ],
    props: [
        (
            kind: ConfettiEmitter,
            translation: (19.553852, 0.0, -17.515469),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
    ],
    cameras: [],
)