(
    name: "course_004",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-22.370623, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: true,
            camera: Some((
                offset: (-4.108778, 7.4868817, 24.844906),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.769, 0.047, 0.18, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 16.084711, -9.470488),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.922, 0.459, 0.561, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (35.767586, 14.612608, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.145, 0.675, 0.961, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (23.720211, 2.1071343, 32.9549),
            rotation: (0.0, -0.6427875, 0.0, 0.76604456),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.62, 0.298, 0.298, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
)