(
    name: "course_002",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-12.327311, 0.0, -25.702291),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-4.108778, 7.4868817, 24.844906),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.949, 0.384, 0.122, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (32.451645, 0.0, -48.612686),
            rotation: (0.0, -0.8870108, 0.0, 0.46174857),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.051, 0.129, 0.251, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (28.446201, 0.0, 2.5687447),
            rotation: (0.0, 0.7933533, 0.0, 0.6087614),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.639, 0.365, 0.851, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
)