(
    name: "course_006",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-7.0317144, 0.0, -46.11736),
            rotation: (0.0, -0.70710677, 0.0, 0.7071068),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-3.4846077, 7.4868817, 21.072054),
                rotation: (0.0, -0.17364812, 0.0, 0.9848077),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.702, 0.176, 0.49, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (31.252127, 0.0, -13.165667),
            rotation: (0.0, 0.6427876, 0.0, 0.76604444),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.961, 0.506, 0.133, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (23.005245, 16.585367, 42.24923),
            rotation: (0.0, -0.25881904, 0.0, 0.9659258),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((1.0, 0.725, 0.22, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (7.0099754, 0.0, 95.55972),
            rotation: (0.0, -0.70710677, 0.0, 0.7071068),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.58, 0.749, 0.188, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-47.554783, -5.8492537, 95.16121),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.145, 0.675, 0.961, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-33.353325, 0.0, 39.151665),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.208, 0.325, 0.651, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (-18.010696, 17.619581, -4.333473),
            rotation: (0.0, -0.42261824, 0.0, 0.9063078),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.467, 0.231, 0.749, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
    location: "Abandoned Warehouse",
)