(
    name: "course_007",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-20.46095, 0.0, -13.33053),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-4.108778, 7.4868817, 24.844906),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.145, 0.675, 0.961, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (15.361854, 0.0, -59.79294),
            rotation: (0.0, -0.9063078, 0.0, 0.42261824),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.851, 0.298, 0.557, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (23.771004, 17.900461, -10.852461),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.792, 0.494, 0.949, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (53.927876, 0.0, -5.8080845),
            rotation: (0.0, -0.9396926, 0.0, 0.34202015),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.09, 0.576, 0.902, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (17.495014, 0.0, 4.507574),
            rotation: (0.0, 0.2164396, 0.0, 0.976296),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.851, 0.298, 0.557, 1.0)),
        ),
    ],
    props: [
        (
            kind: ShellBurstEmitter,
            translation: (-29.644667, 0.0, -12.332993),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-28.675705, 0.0, -12.451),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-27.91229, 0.0, -13.7491455),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-26.496523, 0.0, -12.910851),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-24.91629, 0.0, -13.445021),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-30.868706, 0.0, -14.17605),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-23.63383, 0.0, -13.01675),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-22.3657, 0.0, -13.09861),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-20.072874, 0.0, -12.885143),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-21.051853, 0.0, -12.416836),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-17.447647, 0.0, -13.182072),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-18.76658, 0.0, -12.900753),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (-16.145973, 0.0, -12.547375),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-14.702733, 0.0, -12.920303),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
    ],
    cameras: [],
    location: "Abandoned Warehouse",
)