(
    name: "course_007",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-0.3969193, 0.0, -46.246307),
            rotation: (0.0, -0.34202012, 0.0, 0.9396926),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-4.108778, 7.4868817, 24.844906),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.949, 0.384, 0.122, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (37.250393, 6.5641956, -29.359684),
            rotation: (0.0, 0.81915206, 0.0, -0.57357645),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.58, 0.749, 0.188, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-32.04368, 0.0, 11.404701),
            rotation: (0.0, -0.17364818, 0.0, 0.9848077),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.702, 0.176, 0.49, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (37.991867, 0.0, 51.74238),
            rotation: (0.0, 0.96592593, 0.0, 0.25881892),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.682, 0.533, 0.89, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (-28.209282, 9.893625, 48.218636),
            rotation: (0.0, 0.38268346, 0.0, 0.9238795),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.024, 0.502, 0.318, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (52.171585, 0.0, 2.1081824),
            rotation: (0.0, 0.25881904, 0.0, 0.9659258),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(7),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.145, 0.675, 0.961, 1.0)),
        ),
    ],
    props: [
        (
            kind: ShellBurstEmitter,
            translation: (-7.3152924, 0.0, -52.160812),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-5.1044426, 0.0, -49.546738),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (-1.9832001, 0.0, -47.36353),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (0.898201, 0.0, -44.168285),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (3.3830948, 0.0, -42.917965),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
    ],
    cameras: [],
    location: "Abandoned Warehouse",
)