(
    name: "course_008",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-30.733673, 0.0, -6.5097046),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-4.108778, 7.4868817, 24.844906),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.98, 0.851, 0.216, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (-7.751605, 32.06023, -21.805038),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.851, 0.298, 0.557, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (8.027918, 0.0, -63.534298),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.961, 0.192, 0.255, 1.0)),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-35.328655, 0.0, -66.133064),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.961, 0.506, 0.133, 1.0)),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-87.11295, 0.0, -40.079792),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: true,
            camera: None,
            color_override: Some((0.702, 0.176, 0.49, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
    location: "Abandoned Warehouse",
)