(
    name: "course_003",
    instances: [
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (0.14376068, 15.91959, 16.14569),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (50.15909, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 14.075047, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (40.751434, 10.779989, -1.7684777),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 29.498058, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
        (
            obstacle_id: ("gate_air"),
            translation: (22.900293, 21.396212, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
            camera: None,
            color_override: Some((0.949, 0.949, 0.855, 1.0)),
        ),
    ],
    props: [],
    cameras: [],
)