(
    name: "new_course",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-1.8180573, 0.0, -34.398098),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 0.0, 17.720837),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
        ),
    ],
)