(
    name: "new_course",
    instances: [
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: None,
        ),
    ],
)