(
    name: "test_gate_direction",
    instances: [
        (
            obstacle_id: ("gate_loop"),
            translation: (50.381844, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-61.05735, 0.0, 0.0),
            rotation: (0.0, -0.9999889, 0.0, 0.0047157276),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 13.5665655, -44.88242),
            rotation: (0.0, -0.7660942, 0.0, 0.64272827),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (27.173832, 0.0, 25.02662),
            rotation: (0.0, -0.2374509, 0.0, 0.97139955),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (34.05132, 0.0, -25.079136),
            rotation: (0.0, -0.9371305, 0.0, 0.34897906),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-23.138203, -0.04135996, 46.235767),
            rotation: (0.0, -0.7926332, 0.0, 0.60969895),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-61.512352, 0.0, -53.489983),
            rotation: (0.0, -0.3666569, 0.0, 0.93035626),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: true,
        ),
    ],
    props: [
        (
            kind: ShellBurstEmitter,
            translation: (17.353914, 0.0, 23.111057),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (21.821651, 0.0, 19.381481),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (39.818848, 1.6082274, 29.138683),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (36.048523, 0.0, 32.84929),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (21.845602, 0.0, 23.126598),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (24.232323, 0.0, 24.786804),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (27.039278, 0.0, 25.931974),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (29.697023, 0.0, 27.620195),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (33.11011, 0.0, 28.844494),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
    ],
)