(
    name: "test_gate_direction",
    instances: [
        (
            obstacle_id: ("gate_loop"),
            translation: (50.381844, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-61.05735, 0.0, 0.0),
            rotation: (0.0, -0.9999889, 0.0, 0.0047157276),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 13.5665655, -44.88242),
            rotation: (0.0, -0.7660942, 0.0, 0.64272827),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (27.173832, 0.0, 25.02662),
            rotation: (0.0, -0.2374509, 0.0, 0.97139955),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (34.05132, 0.0, -25.079136),
            rotation: (0.0, -0.9371305, 0.0, 0.34897906),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-23.138203, -0.04135996, 46.235767),
            rotation: (0.0, -0.7926332, 0.0, 0.60969895),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-61.512352, 0.0, -53.489983),
            rotation: (0.0, -0.3666569, 0.0, 0.93035626),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: true,
        ),
    ],
    props: [
        (
            kind: ShellBurstEmitter,
            translation: (23.26588, 0.0, 18.715324),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (26.55401, 0.0, 21.57748),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (28.84578, 1.6082274, 25.385803),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (32.60858, 0.0, 25.33345),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
        (
            kind: ConfettiEmitter,
            translation: (33.711746, 12.223209, 29.16736),
            rotation: (-0.015602092, 0.1541015, -0.0024336835, 0.9879288),
            color_override: None,
        ),
        (
            kind: ShellBurstEmitter,
            translation: (35.73674, 0.0, 27.221352),
            rotation: (0.0, 0.0, 0.0, 1.0),
            color_override: None,
        ),
    ],
    cameras: [
        (
            translation: (24.28654, 7.2852206, 48.47949),
            rotation: (0.0, -0.053253483, 0.0, 0.99858105),
            is_primary: true,
            label: None,
        ),
    ],
)