(
    name: "test_gate_direction",
    instances: [
        (
            obstacle_id: ("gate_loop"),
            translation: (0.0, 5.834842, 54.090614),
            rotation: (-0.1580094, 0.35280484, -0.37696844, -0.84169865),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-61.05735, 0.0, 0.0),
            rotation: (0.0, -0.99954194, 0.0, 0.030262679),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 13.5665655, -44.88242),
            rotation: (0.0, -0.7660942, 0.0, 0.64272827),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (27.173832, 0.0, 25.02662),
            rotation: (0.0, -0.2374509, 0.0, 0.97139955),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (34.05132, 0.0, -25.079136),
            rotation: (0.0, -0.9371305, 0.0, 0.34897906),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: false,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-44.76737, 0.0, -56.423088),
            rotation: (0.0, 0.71192074, 0.0, 0.70225984),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: true,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (50.381844, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: true,
        ),
    ],
)