(
    name: "test_course_01",
    instances: [
        (
            obstacle_id: ("gate_air"),
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (0.0, 2.0, -5.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                is_primary: true,
                label: None,
            )),
        ),
    ],
    props: [],
    cameras: [],
)