(
    name: "testable_course",
    instances: [
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 0.0, 51.180428),
            rotation: (0.0, -0.31399098, 0.0, 0.949426),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-40.93743, 0.0, 43.078007),
            rotation: (0.0, 0.48863816, 0.0, 0.87248653),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-57.51622, 0.0, 0.0),
            rotation: (0.0, 0.21397556, 0.0, 0.976839),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(8),
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (-37.869286, -7.3035374, -35.628498),
            rotation: (0.0, -0.3618421, 0.0, 0.9322394),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (0.0, -0.01787448, -70.85056),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: None,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (0.0, 0.0, -58.875027),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: None,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (0.0, 0.0, -42.828575),
            rotation: (0.0, -0.24287215, 0.0, 0.9700583),
            scale: (1.0, 1.0, 1.0),
            gate_order: None,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (0.0, 8.773899, -19.923618),
            rotation: (0.0, 0.31808296, 0.0, 0.9480629),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (37.470276, 0.0, -6.7902546),
            rotation: (0.0, 0.5635395, 0.0, -0.82608914),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (59.705387, 0.0, 55.58597),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
        ),
    ],
)