(
    name: "tight_turns",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-26.978016, 0.0, -33.462105),
            rotation: (0.0, 0.7660444, 0.0, 0.64278764),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-18.505693, 7.3077974, 26.40494),
                rotation: (0.0, -0.53729963, 0.0, 0.84339154),
                is_primary: true,
                label: None,
            )),
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (-91.61727, 19.754578, -48.685173),
            rotation: (0.0, 0.42261818, 0.0, 0.9063078),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-106.226654, 0.0, -129.29741),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-70.9941, -4.464014, -169.64102),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (-27.77116, -3.1848183, -167.01068),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(5),
            gate_forward_flipped: true,
            camera: None,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (-50.838146, 7.4228187, -197.07635),
            rotation: (0.0, -0.6755902, 0.0, 0.7372774),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-33.15306, 9.489111, 4.163769),
                rotation: (0.0, 0.6755902, 0.0, -0.7372775),
                is_primary: false,
                label: None,
            )),
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (-2.4573154, 0.0, -139.11554),
            rotation: (0.0, -0.4226182, 0.0, 0.9063078),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(6),
            gate_forward_flipped: false,
            camera: Some((
                offset: (-4.0520096, 7.7522693, -25.475021),
                rotation: (-0.0112452945, 0.99377126, -0.060830783, -0.09269267),
                is_primary: true,
                label: None,
            )),
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (28.2075, 0.0, -103.498764),
            rotation: (0.0, -0.9396926, 0.0, 0.34202015),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(7),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (39.978867, 0.0, -72.37422),
            rotation: (0.0, 1.0, 0.0, 0.000000029802322),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(8),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (27.912525, 0.0, 0.24534988),
            rotation: (0.0, 0.9238795, 0.0, 0.38268343),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(9),
            gate_forward_flipped: false,
            camera: None,
        ),
    ],
    props: [],
    cameras: [],
)