(
    name: "tight_course",
    instances: [
        (
            obstacle_id: ("gate_ground"),
            translation: (-8.94286, 0.0, 31.366634),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(0),
            gate_forward_flipped: true,
            camera: Some((
                offset: (-5.819475, 8.933476, -17.773178),
                rotation: (0.005693474, 0.9905013, 0.043246217, -0.13040206),
                is_primary: true,
                label: None,
            )),
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (4.5991306, 0.0, 74.80717),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(1),
            gate_forward_flipped: true,
            camera: None,
        ),
        (
            obstacle_id: ("gate_loop"),
            translation: (14.633984, 0.0, 110.072655),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(2),
            gate_forward_flipped: true,
            camera: None,
        ),
        (
            obstacle_id: ("gate_best"),
            translation: (27.360813, 0.0, -11.772364),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(4),
            gate_forward_flipped: false,
            camera: None,
        ),
        (
            obstacle_id: ("gate_ground"),
            translation: (56.27392, 0.0, 80.77228),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
            gate_order: Some(3),
            gate_forward_flipped: false,
            camera: None,
        ),
    ],
    props: [],
    cameras: [],
)