(
    fan_network: (
        people: [
            (
                id: 1,
                recruited_by: None,
                tier: Aware,
                races_attended: 1,
                races_since_attended: 4,
                spread_count: 1,
            ),
            (
                id: 2,
                recruited_by: None,
                tier: Fan,
                races_attended: 4,
                races_since_attended: 1,
                spread_count: 2,
            ),
            (
                id: 4,
                recruited_by: Some(1),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 4,
                spread_count: 0,
            ),
            (
                id: 5,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 6,
                recruited_by: None,
                tier: Attendee,
                races_attended: 2,
                races_since_attended: 1,
                spread_count: 2,
            ),
            (
                id: 7,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 8,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 9,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 10,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 11,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 12,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 13,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 14,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 15,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 16,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 17,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 18,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 19,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 20,
                recruited_by: None,
                tier: Attendee,
                races_attended: 2,
                races_since_attended: 1,
                spread_count: 2,
            ),
            (
                id: 21,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 22,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 23,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 3,
                spread_count: 0,
            ),
            (
                id: 24,
                recruited_by: Some(6),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 25,
                recruited_by: Some(20),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 26,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 27,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 28,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 29,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 30,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 31,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 32,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 33,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 34,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 1,
                spread_count: 1,
            ),
            (
                id: 35,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 36,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 37,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 38,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 39,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 40,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 41,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 42,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 2,
                spread_count: 0,
            ),
            (
                id: 43,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 1,
                spread_count: 1,
            ),
            (
                id: 44,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 45,
                recruited_by: Some(2),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 46,
                recruited_by: Some(6),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 47,
                recruited_by: Some(20),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 48,
                recruited_by: Some(34),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 49,
                recruited_by: Some(43),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 50,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 51,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 52,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 53,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 54,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 55,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 56,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 57,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 58,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 59,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 60,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 61,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 62,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 63,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 64,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 65,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 66,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 67,
                recruited_by: None,
                tier: Attendee,
                races_attended: 1,
                races_since_attended: 0,
                spread_count: 1,
            ),
            (
                id: 68,
                recruited_by: None,
                tier: Aware,
                races_attended: 0,
                races_since_attended: 1,
                spread_count: 0,
            ),
            (
                id: 69,
                recruited_by: Some(7),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 70,
                recruited_by: Some(21),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 71,
                recruited_by: Some(30),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 72,
                recruited_by: Some(44),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 73,
                recruited_by: Some(53),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
            (
                id: 74,
                recruited_by: Some(67),
                tier: Aware,
                races_attended: 0,
                races_since_attended: 0,
                spread_count: 0,
            ),
        ],
        next_id: 75,
    ),
    money: 13.0,
    campaign_budgets: (
        posters: 10.0,
        highlight_reel: 0.0,
        merch: 0.0,
    ),
    ticket_price: 0,
)